

<ion-content >
<div class="body"> 

<div class="loginform">
<pre>

</pre>
<h1 style ="color:white;font-weight:bold">Phone List</h1>
<pre>
</pre>
<ion-input type ="text" [(ngModel)]="user.email" class="myinput" placeholder="Enter Registration Email" style ="border-radius:20px;border-color:white;border-style:inset"></ion-input>

<br>

<ion-input type ="password" [(ngModel)]="user.password" class="myinput" placeholder="Enter New Password" style ="border-radius:20px;border-color:white;border-style:inset"></ion-input>

<br>

<button (click)="fun(user)" class="button1">Register</button>

       <h6 style ="color:aliceblue">Have an account?</h6> 
        <ion-button class="create" align="center" color="transparent" expand ="full" (click)="login()" style ="color:white;">Login</ion-button>


</div>


</div>






</ion-content>
